{% extends 'base.html' %}

{% block title %}
    most common character names
{% endblock %}

{% block headline %}
    most common character names
{% endblock %}

{% block card1 %}
    <div class="card">
        <ul>
            {% for character_name in character_names %}
                <li class="character" data-character-name="{{ character_name.name }} "data-shows="{{ character_name.shows }}">{{ character_name.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="static/js/most-common-character-names.js"></script>
{% endblock %}