{% extends 'base.html' %}

{% block title %}
    Welcome
{% endblock %}


{% block headline %}
    Welcome page
{% endblock %}

{% block card1 %}
    <div class="card">
        <h2>Welcome TV show lovers!</h2>
        <ul>
            <li><a href="/shows">Shows</a></li>
            <li><a href="/actors">Actors</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/ordered-shows">Ordered Shows</a></li>
            <li><a href="/filter-actors">Filter Actors</a></li>
            <li><a href="/birthday-actors">Actors by birthday</a></li>
            <li><a href="/genres">genres</a></li>
            <li><a href="/most-common-character-names">most common character names</a></li>
            <li><a href="/shows-with-5-or-more-genres">shows with 5 or more genres</a></li>

        </ul>
    </div>
{% endblock %}
