{% extends 'base.html' %}

{% block title %}
    shows with 5 or more genres
{% endblock %}

{% block headline %}
    shows with 5 or more genres
{% endblock %}

{% block card1 %}
    <div class="card">
        <select id="shows-select">
                <option value="not-selected">--Not selected--</option>
            {% for show in shows %}
                <option value="{{ show.show_id }}">{{ show.title }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block card2 %}
    <div class="card">
        <table>
            <thead>
                <th>Year</th>
                <th>25 year anniversary</th>
                <th>seasons</th>
                <th>rating</th>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="../static/js/shows-with-5-or-more-genres.js"></script>
{% endblock %}
